<%- include(header) %>
<div class="jumbotron jumbotron-fluid bg-yt-red">
    <div class="container">
        <div class="row">
            <div class="col col-sm-4">
                <i class="display-1 fas fa-user text-white"></i>
            </div>
            <div class="col col-sm-8">
                <h1 class=" display-4 text-white">2,102,109</h1>
                <h1 class=" display-5 text-white">Total Users</h1>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid bg-yt-red">
    <div class="container">
        <div class="row">
            <div class="col col-sm-4">
                <i class="display-1 fas fa-dollar-sign text-white"></i>
            </div>
            <div class="col col-sm-8">
                <h1 class="display-4 text-white">5,109</h1>
                <h1 class="display-5 text-white">Current Subscribers</h1>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid bg-yt-red">
    <div class="container">
        <div class="row">
            <div class="col col-sm-4">
                <i class="display-1 fas fa-user-plus text-white"></i>
            </div>
            <div class="col col-sm-8">
                <h1 class=" display-4 text-white">273</h1>
                <h1 class=" display-5 text-white">New Subscribers</h1>
            </div>
        </div>
    </div>
</div>
<%- include(footer) %>
